<!DOCTYPE html>
<html>
<head>
	<title>Pokemon Collection</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

	 <script src="https://kit.fontawesome.com/b1053c2d89.js" crossorigin="anonymous"></script>
</head>
<body>
	<nav class="ui fixed stackable inverted menu">
		<div class="item">
			<a href="/">
				<img src="/pokemon.png">
			</a>
		</div>

		<%if(!currentUser){ %>

			<a href="/register" class="item">Sign Up</a>
			<a href="/login" class="item">Log In</a>
		<%}else{%>
			<a href="/logout" class="item">Logout</a>
			<a href="/pokemon/#records" class="item">View</a>
			<a href="/pokemon/new" class="item">Add</a>
			<a href="/users/<%=currentUser.username %>" class="item">
				<img src="<%=currentUser.avatar%>">
			</a>

		<% }%>
	</nav>


	