<%-include ("partials/header") %>
<div id="hero">
	<div id="hero-content">
		<div id="hero-text" class="ui container middle aligned">
			<h1>Pokemon<span>DB</span></h1>
			<h2>Log all of your caught pokemon</h2>
		</div>
		<div id="hero-buttons">
			<a href="/login" class="ui button  white">Login</a>
			<a href="/register" class="ui button  orange">Get Started</a>
		</div>
	</div>
</div>
	

	

		

<%-include ("partials/footer") %>